<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress SqlDialectInspection, SqlNoDataSourceInspection -->
<mapper namespace="com.oc.greenbean.mybatis.mapper.BookMapper">
  <cache type="org.mybatis.caches.ehcache.EhcacheCache">
    <property name="timeToIdleSeconds" value="3600"/>
    <property name="timeToLiveSeconds" value="3600"/>
    <property name="maxEntriesLocalHeap" value="1000"/>
    <property name="maxEntriesLocalDisk" value="10000000"/>
    <property name="memoryStoreEvictionPolicy" value="LRU"/>
  </cache>
  <select id="getSearchBooks" resultType="java.util.Map">
    <bind name="keywordLike" value="'%' + keyword + '%'"/>
    select distinct book_id as id from v_book_author where book_name like #{keywordLike} or author_name like #{keywordLike} or book_isbn = #{keyword}
  </select>

  <select id="getBookBasicInfo" resultType="com.oc.greenbean.domain.Book">
    select name, picture, publisher, publication_year as publicationYear, publication_month as publicationMonth, publication_day as publicationDay, price from t_book where id = #{id}
  </select>

  <select id="getBookAuthors" resultType="com.oc.greenbean.domain.Author">
    select author_name as name from v_book_author where book_id = #{id}
  </select>

  <select id="getBookTranslators" resultType="com.oc.greenbean.domain.Translator">
    select translator_name as name from v_book_translator where book_id = #{id}
  </select>

  <select id="getBookRatingInfo" resultType="java.util.Map">
    select count(*) as ratingCount, avg(score) as rating from t_book_user where book_id = #{id} and score is not null
  </select>

  <!-- XXX 有没有更好的写法 -->
  <select id="getSearchBooksWithPagination" resultType="java.util.Map">
    <bind name="keywordLike" value="'%' + keyword + '%'"/>
    select distinct book_id as id from v_book_author where book_name like #{keywordLike} or author_name like #{keywordLike} or book_isbn = #{keyword} limit #{start}, #{size}
  </select>

  <select id="getSearchBooksCount" resultType="java.lang.Integer">
    <bind name="keywordLike" value="'%' + keyword + '%'"/>
    select count(distinct book_id) as count from v_book_author where book_name like #{keywordLike} or author_name like #{keywordLike} or book_isbn = #{keyword}
  </select>
</mapper>