#wrapper {
    margin-top: 40px;
}

#title {
    margin: 40px 0;
}

#information {
    position: absolute;
    top: 130px;
}

#buttonDiv {
    text-align: center;
}

.row>label {
    text-align: right;
}

.prefixNumber {
    line-height: 38px;
}

.addButton {
    height: 38px;
    position: relative;
}

#addAuthorButton {
    top: 76px;
}

#addTranslatorButton {
    top: 38px;
}

input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

#bindingRow {
    line-height: 38px;
}

textarea {
    resize: none;
}