<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <link th:replace="fragments :: bootstrapCSS">
    <link th:replace="fragments :: fontAwesomeCSS">
    <link th:replace="fragments :: headerCSS">
    <link th:replace="fragments :: starCSS">
    <link rel="stylesheet" th:href="@{/static/template/book.css}">
</head>
<body>
    <header th:include="fragments :: header"></header>

    <div class="container" id="wrapper">
        <div class="row">
            <div class="col-sm-8">
                <div class="row my-sm-3">
                    <div class="col-sm-12">
                        <h3 id="bookName" th:text="${bookPage.bookBriefBasicInfo.bookName}"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <!-- XXX IDEA语法错误的错误提示 -->
                        <img class="bookImg" th:if="${bookPage.bookBriefBasicInfo.picture == null}" th:src="@{/static/pic/bookDefault.gif}">
                        <img class="bookImg" th:if="${bookPage.bookBriefBasicInfo.picture != null}" th:src="@{/static/picture/books/{bookItemPicture}(bookItemPicture=${bookPage.bookBriefBasicInfo.picture})}">
                        <p>Update information</p>
                    </div>
                    <div class="col-sm-6 px-sm-0" id="bookInfo">
                        <p th:if="${bookPage.bookBriefBasicInfo.authorName}">Author: <span th:text="${bookPage.bookBriefBasicInfo.authorName}"></span></p>
                        <p th:if="${bookPage.bookBriefBasicInfo.publisher}">Publisher: <span th:text="${bookPage.bookBriefBasicInfo.publisher}"></span></p>
                        <p th:if="${bookPage.bookDetailBasicInfo.originalName}">Original: <span th:text="${bookPage.bookDetailBasicInfo.originalName}"></span></p>
                        <p th:if="${bookPage.bookBriefBasicInfo.translatorName}">Translator: <span th:text="${bookPage.bookBriefBasicInfo.translatorName}"></span></p>
                        <p th:if="${bookPage.bookBriefBasicInfo.publicationDate}">Publication: <span th:text="${bookPage.bookBriefBasicInfo.publicationDate}"></span></p>
                        <p th:if="${bookPage.bookDetailBasicInfo.page}">Page: <span th:text="${bookPage.bookDetailBasicInfo.page}"></span></p>
                        <p th:if="${bookPage.bookBriefBasicInfo.price}">Price: <span th:text="${bookPage.bookBriefBasicInfo.price}"></span></p>
                        <p th:if="${bookPage.bookDetailBasicInfo.binding}">Binding: <span th:text="${bookPage.bookDetailBasicInfo.binding}"></span></p>
                        <p th:if="${bookPage.bookDetailBasicInfo.isbn}">ISBN: <span th:text="${bookPage.bookDetailBasicInfo.isbn}"></span></p>
                    </div>
                    <div class="col-sm-3" id="ratingInfo">
                        <div class="row">
                            <div class="col-sm-12">
                                <span id="ratingTitle">Greenbean Rating</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4" th:if="${bookPage.bookBriefRatingInfo.rating}">
                                <span id="ratingScore" th:text="${bookPage.bookBriefRatingInfo.rating}"></span>
                            </div>
                            <div class="col-sm-8" id="ratingRight">
                                <div id="ratingStar" th:classappend="'bigStar' + ${bookPage.bookBriefRatingInfo.starClassName}"></div>
                                <div th:if="${#conversions.convert(bookPage.bookBriefRatingInfo.ratingCount, 'java.lang.Integer') > 0}" class="ratingCount"><span th:text="${bookPage.bookBriefRatingInfo.ratingCount}"></span> Ratings</div>
                                <div th:if="${#conversions.convert(bookPage.bookBriefRatingInfo.ratingCount, 'java.lang.Integer') == 0}" class="ratingCount">No ratings</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" id="ratingPowerColumn">
                                <div class="row" th:each="percentage, iterator : ${bookPage.bookDetailRatingInfo.ratingPercentageList}">
                                    <div class="col-sm-4 starTitle">
                                        <span th:text="${5 - iterator.index}"></span><span th:text="${iterator.last} ? ' star' : ' stars'"></span>
                                    </div>
                                    <div class="col-sm-5 px-sm-0">
                                        <div class="ratingPower" th:styleappend="'width: ' + ${bookPage.bookDetailRatingInfo.ratingPowerWidthPercentageList[iterator.index]}"></div>
                                    </div>
                                    <div class="col-sm-3 starPercentage">
                                        <span th:text="${percentage}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-sm-5" id="ratingOperation" th:attr="data-rating=${bookPage.bookUserRatingInfo.star} ? ${bookPage.bookUserRatingInfo.star} : '', data-type=${bookPage.bookUserRatingInfo.type} ? ${bookPage.bookUserRatingInfo.type} : ''">
                    <div class="col-sm-12 ratingButton" th:unless="${bookPage.bookUserRatingInfo.type}">
                        <button id="readingButton" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#ratingDialog" data-status="I am reading this book. Add a rating.">Reading</button>
                        <button id="readButton" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#ratingDialog" data-status="I have read this book. Add a rating.">Read</button>
                        <span class="ratingButtonText">Rating:</span>
                        <span id="ratingClickStar" class="ratingClickStar" th:attr="data-hollow=@{/static/pic/singleHollowStar.png}, data-solid=@{/static/pic/singleSolidStar.png}" data-rating="0">
                            <a th:each="i : ${#numbers.sequence(1, 5)}" data-toggle="modal" data-target="#ratingDialog" data-status="I have read this book. Add a rating.">
                                <img th:src="@{/static/pic/singleHollowStar.png}" th:attr="data-index=${i}" >
                            </a>
                        </span>
                        <span class="ratingButtonText ratingIntroText" id="ratingIntroText"></span>
                    </div>
                    <div class="col-sm-12 ratingButton ratingButtonText" th:if="${bookPage.bookUserRatingInfo.type}">
                        <div>
                            <span class="readingStatusText">I <span th:text="${bookPage.bookUserRatingInfo.type == 1} ? 'am reading' : 'have read'"></span> this book.</span>
                            <span class="readingStatusText" th:text="${bookPage.bookUserRatingInfo.time}"></span>
                            <a class="readingStatusText" href="#" data-toggle="modal" data-target="#ratingDialog" data-status="Update your rating.">Update</a>
                            <a href="#" data-toggle="modal" data-target="#removeDialog">Remove</a>
                        </div>
                        <div>
                            My rating:
                            <span id="userRatingClickStar" class="ratingClickStar" th:attr="data-hollow=@{/static/pic/singleHollowStar.png}, data-solid=@{/static/pic/singleSolidStar.png}, data-rating=${bookPage.bookUserRatingInfo.star}">
                                <a th:each="i : ${#numbers.sequence(1, 5)}">
                                    <img th:src="@{/static/pic/singleHollowStar.png}" th:attr="data-index=${i}" >
                                </a>
                            </span>
                            <span class="ratingButtonText ratingIntroText" id="userRatingIntroText"></span>
                        </div>
                    </div>
                </div>
                <div class="row introduction" th:if="${bookPage.bookDetailBasicInfo.contentIntro}">
                    <div class="col-sm-12">
                        <h4>Content introduction· · · · · ·</h4>
                        <div>
                            <p th:each="item : ${bookPage.bookDetailBasicInfo.contentIntro}" th:text="${item}"></p>
                        </div>
                    </div>
                </div>
                <div class="row introduction">
                    <div class="col-sm-12" th:if="${bookPage.bookDetailBasicInfo.authorIntro}">
                        <h4>Author introduction· · · · · ·</h4>
                        <div>
                            <p th:each="item : ${bookPage.bookDetailBasicInfo.authorIntro}" th:text="${item}"></p>
                        </div>
                    </div>
                </div>
                <div class="row introduction">
                    <div class="col-sm-12" th:if="${bookPage.bookDetailBasicInfo.directory}">
                        <h4>Contents· · · · · ·</h4>
                        <div>
                            <p id="directory" th:each="item : ${bookPage.bookDetailBasicInfo.directory}" th:text="${item}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">

            </div>
        </div>
    </div>

    <!-- FIXME header内容位置变化 与视口宽度有关 -->
    <div class="modal fade" id="ratingDialog" tabindex="-1" role="dialog" aria-labelledby="ratingDialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <form id="addUserRatingForm" class="ratingButtonText" method="post" th:action="@{/addOrUpdateUserRating}">
                            <input type="hidden" name="bookId" th:value="${bookPage.bookBriefBasicInfo.id}">
                            <input type="hidden" name="score" th:value="${bookPage.bookUserRatingInfo.star} ? ${bookPage.bookUserRatingInfo.star * 2} : ''">
                            <input th:unless="${bookPage.bookUserRatingInfo.type}" type="hidden" name="type">
                            <!-- XXX 优化样式 高度保持一致 -->
                            <div th:if="${bookPage.bookUserRatingInfo.type}">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="type" value="1" th:checked="${bookPage.bookUserRatingInfo.type == 1}? 'true' : 'false'">
                                    <label class="form-check-label">reading</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="type" value="2" th:checked="${bookPage.bookUserRatingInfo.type == 2}? 'true' : 'false'">
                                    <label class="form-check-label">read</label>
                                </div>
                            </div>
                        </form>
                        <span class="ratingButtonText">Rating(Optional):</span>
                        <span id="dialogRatingClickStar" class="ratingClickStar" th:attr="data-hollow=@{/static/pic/singleHollowStar.png}, data-solid=@{/static/pic/singleSolidStar.png}, data-rating=${bookPage.bookUserRatingInfo.star}">
                            <a th:each="i : ${#numbers.sequence(1, 5)}">
                                <img th:src="@{/static/pic/singleHollowStar.png}" th:attr="data-index=${i}" >
                            </a>
                        </span>
                        <span class="ratingButtonText ratingIntroText" id="dialogRatingIntroText"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="saveButton" type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="removeDialog" tabindex="-1" role="dialog" aria-labelledby="removeDialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Remove your rating.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you really want to remove?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="saveButton" type="button" class="btn btn-primary">Remove</button>
                </div>
            </div>
        </div>
    </div>
    <script th:replace="fragments :: jQueryJS"></script>
    <script th:replace="fragments :: popperJS"></script>
    <script th:replace="fragments :: bootstrapJS"></script>
    <script th:replace="fragments :: headerJS"></script>
    <script th:src="@{/static/template/book.js}"></script>
</body>
</html>