#wrapper {
    margin-top: 96px;
    font-family: Helvetica, Arial, sans-serif;
}

.bookImg {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
}

#bookInfo>p {
    margin-bottom: 0.2rem;
    font-size: 13px;
}

#bookName {
    font-size: 26px;
    font-weight: bold;
}

.ratingPower {
    background-color: #ffd596;
    height: 10px;
    width: 100%;
    margin-top: 4px;
}

#ratingPowerColumn span {
    line-height: 14px;
}

#ratingInfo{
    border-left: 1px solid #eaeaea;
    font-size: 13px;
}

#ratingTitle {
    color: #9b9b9b;
}

#ratingScore {
    font-size: 28px;
    line-height: 2;
}

#ratingRight {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ratingCount {
    line-height: 2;
}

.starTitle {
    padding-right: 5px;
}

.starPercentage {
    padding-left: 5px;
}

.bookImg+p{
    text-align: center;
    color: #BBBBBB;
    font-size: 12px;
    margin-bottom: 0;
}

#ratingOperation button {
    width: 71px;
}

.ratingClickStar {
    font-size: 0;
    position: relative;
    top: -5px;
}

.ratingButton>button:last-of-type {
    margin-left: 10px;
    margin-right: 10px;
}

.introduction h4 {
    font-size: 16px;
}

.introduction p {
    font-size: 13px;
    line-height: 1.62;
    margin-bottom: 0;
}

.introduction {
    margin-bottom: 25px;
}

.ratingButtonText {
    font-size: 13px;
    line-height: 1.62;
}

.ratingIntroText {
    margin-left: 5px;
    color: #666666;
}

.readingStatusText {
    margin-right: 10px;
}

#comment {
    resize: none;
    font-size: 13px;
}

.commentRow {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    line-height: 1.7em;
}

.indent {
    text-indent: 2em;
}