<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <link th:replace="fragments :: bootstrapCSS">
    <link th:replace="fragments :: fontAwesomeCSS">
    <link th:replace="fragments :: headerCSS">
    <link th:replace="fragments :: starCSS">
    <link rel="stylesheet" th:href="@{/static/template/book.css}">
</head>
<body>
    <header th:include="fragments :: header"></header>

    <div class="container" id="wrapper">
        <div class="row">
            <div class="col-sm-8">
                <div class="row my-sm-3">
                    <div class="col-sm-12">
                        <h3 id="bookName" th:text="${bookPage.bookName}"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <!-- XXX IDEA语法错误的错误提示 -->
                        <img class="bookImg" th:if="${bookPage.picture == null}" th:src="@{/static/pic/bookDefault.gif}">
                        <img class="bookImg" th:if="${bookPage.picture != null}" th:src="@{/static/picture/books/{bookItemPicture}(bookItemPicture=${bookPage.picture})}">
                        <p>Update information</p>
                    </div>
                    <div class="col-sm-6 px-sm-0" id="bookInfo">
                        <p th:if="${bookPage.authorName}">Author: <span th:text="${bookPage.authorName}"></span></p>
                        <p th:if="${bookPage.publisher}">Publisher: <span th:text="${bookPage.publisher}"></span></p>
                        <p th:if="${bookPage.originalName}">Original: <span th:text="${bookPage.originalName}"></span></p>
                        <p th:if="${bookPage.translatorName}">Translator: <span th:text="${bookPage.translatorName}"></span></p>
                        <p th:if="${bookPage.publicationDate}">Publication: <span th:text="${bookPage.publicationDate}"></span></p>
                        <p th:if="${bookPage.page}">Page: <span th:text="${bookPage.page}"></span></p>
                        <p th:if="${bookPage.price}">Price: <span th:text="${bookPage.price}"></span></p>
                        <p th:if="${bookPage.binding}">Binding: <span th:text="${bookPage.binding}"></span></p>
                        <p th:if="${bookPage.isbn}">ISBN: <span th:text="${bookPage.isbn}"></span></p>
                    </div>
                    <div class="col-sm-3" id="ratingInfo">
                        <div class="row">
                            <div class="col-sm-12">
                                <span id="ratingTitle">Greenbean Rating</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4" th:if="${bookPage.rating}">
                                <span id="ratingScore" th:text="${bookPage.rating}"></span>
                            </div>
                            <div class="col-sm-8" id="ratingRight">
                                <div id="ratingStar" th:classappend="'bigStar' + ${bookPage.starClassName}"></div>
                                <div th:if="${#conversions.convert(bookPage.ratingCount, 'java.lang.Integer') > 0}" class="ratingCount"><span th:text="${bookPage.ratingCount}"></span> Ratings</div>
                                <div th:if="${#conversions.convert(bookPage.ratingCount, 'java.lang.Integer') == 0}" class="ratingCount">No ratings</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" id="ratingPowerColumn">
                                <div class="row" th:each="percentage, iterator : ${bookPage.ratingPercentageList}">
                                    <div class="col-sm-4 starTitle">
                                        <span th:text="${5 - iterator.index}"></span><span th:text="${iterator.last} ? ' star' : ' stars'"></span>
                                    </div>
                                    <div class="col-sm-5 px-sm-0">
                                        <div class="ratingPower"></div>
                                    </div>
                                    <div class="col-sm-3 starPercentage">
                                        <span th:text="${percentage}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-sm-5" id="ratingOperation">
                    <div class="col-sm-12" id="ratingButton">
                        <button type="button" class="btn btn-primary btn-sm">Reading</button>
                        <button type="button" class="btn btn-primary btn-sm">Read</button>
                        <span>Rating:</span>
                        <span id="ratingClickStar">
                    <a><img th:src="@{/static/pic/singleHollowStar.png}"></a>
                    <a><img th:src="@{/static/pic/singleHollowStar.png}"></a>
                    <a><img th:src="@{/static/pic/singleHollowStar.png}"></a>
                    <a><img th:src="@{/static/pic/singleHollowStar.png}"></a>
                    <a><img th:src="@{/static/pic/singleHollowStar.png}"></a>
                </span>

                    </div>
                </div>
                <div class="row introduction" >
                    <h4>Content introduction· · · · · ·</h4>
                    <div>
                        <p>
                            ★ 《降临》原著小说作者，美国华裔科幻奇才特德·姜新结集。
                            ★ 9个短篇，9集《黑镜》，融科幻的诗意与哲学的浪漫于一体：我所有的欲望和沉思，都是这个宇宙缓缓呼出的气流。
                            ★ 每一个“科幻必读”书单上都有特德·姜。
                            出道30年，仅17个短篇，却四获星云奖/四获雨果奖/三获 轨迹奖/三获日本科幻大奖，此外还获得过英国科幻协会奖/斯特金奖/坎贝尔奖。
                            ★ 奥巴马诚挚推荐：这是优秀科幻小说应该有的样子。《呼吸》让你思考那些大问题，更加感受到生而为人的温度。
                        </p>
                    </div>
                </div>
                <div class="row introduction" >
                    <h4>Author introduction· · · · · ·</h4>
                    <div>
                        <p>
                            特德·姜 Ted Chiang，美国华裔科幻作家，当代最优秀的科幻作家之一。1967年生，毕业于布朗大学计算机专业，参加过“科幻黄埔”号角写作班，现为自由程序师。自1990年发表处女作《巴比伦塔》至今，只出版了17篇短篇或中篇小说，却让他捧回了包括星云奖、雨果奖、坎贝 尔奖在内的几乎所有科幻大奖的奖杯。
                        </p>
                    </div>
                </div>
                <div class="row introduction" >
                    <h4>Contents· · · · · ·</h4>
                    <div>
                        <p>
                            商人和炼金术师之门
                            呼吸
                            前路迢迢
                            软件体的生命周期
                            达西的新型自动机器保姆
                            双面真相
                            大寂静
                            脐
                            焦虑是自由引起的眩晕
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">

            </div>
        </div>


    </div>
    <script th:replace="fragments :: jQueryJS"></script>
    <script th:replace="fragments :: popperJS"></script>
    <script th:replace="fragments :: bootstrapJS"></script>
    <script th:replace="fragments :: headerJS"></script>
    <script th:src="@{/static/template/book.js}"></script>
</body>
</html>