<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update information</title>
    <link th:replace="fragments :: bootstrapCSS">
    <link th:replace="fragments :: fontAwesomeCSS">
    <link th:replace="fragments :: headerCSS">
    <link th:replace="fragments :: jQueryUICSS">
    <link th:replace="fragments :: bookFormCSS">
</head>
<body>
    <header th:include="fragments :: header"></header>
    <div class="container" id="wrapper">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 id="title">Update information about <span th:text="${bookDto.name}"></span></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <form method="post" th:action="@{/book}">
                            <!-- XXX 优化表单样式 -->
                            <div class="form-group row">
                                <label for="name" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="name" name="name" th:value="${bookDto.name}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="subtitle" class="col-sm-2 col-form-label">Subtitle</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="subtitle" name="subtitle" th:value="${bookDto.subtitle}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="originalName" class="col-sm-2 col-form-label">Original</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="originalName" name="originalName" th:value="${bookDto.originalName}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="isbn" class="col-sm-2 col-form-label">ISBN</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="isbn" name="isbn" th:value="${bookDto.isbn}" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Author</label>
                                <div class="col-sm-8">
                                    <div class="row" th:each="author, iterStat : ${bookDto.author}">
                                        <div class="col-sm-1 prefixNumber">
                                            <span th:text="${iterStat.count}"></span><span>.</span>
                                        </div>
                                        <div class="col-sm-11">
                                            <!-- XXX 上下间距稍微加大一点 -->
                                            <input type="text" class="form-control" name="author" autocomplete="off" th:value="${author}">
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-outline-primary addButton" id="addAuthorButton" th:attr="data-number=${bookDto.author.size()}">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Translator</label>
                                <div class="col-sm-8">
                                    <div class="row" th:each="translator, iterStat : ${bookDto.translator}">
                                        <div class="col-sm-1 prefixNumber">
                                            <span th:text="${iterStat.count}"></span><span>.</span>
                                        </div>
                                        <div class="col-sm-11">
                                            <input type="text" class="form-control" name="translator" autocomplete="off" th:value="${translator}">
                                        </div>
                                    </div>
                                    <div class="row" th:if="${bookDto.translator.size() == 0}">
                                        <div class="col-sm-1 prefixNumber">
                                            <span>1</span><span>.</span>
                                        </div>
                                        <div class="col-sm-11">
                                            <input type="text" class="form-control" name="translator" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-outline-primary addButton" id="addTranslatorButton" th:attr="data-number=${bookDto.translator.size() > 0} ? ${bookDto.translator.size()} : 1">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="form-group row">
                                <label for="price" class="col-sm-2 col-form-label">Price</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="price" name="price" th:value="${bookDto.price}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="publisher" class="col-sm-2 col-form-label">Publisher</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="publisher" name="publisher" th:value="${bookDto.publisher}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="publicationYear" class="col-sm-2 col-form-label">Date</label>
                                <div class="col-sm-2">
                                    <select class="custom-select" id="publicationYear" name="publicationYear">
                                        <!-- XXX 长度限制 -->
                                        <option th:selected="${i == bookDto.publicationYear} ? 'true' : 'false'" th:each="i : ${#numbers.sequence(#dates.year(#dates.createToday()) + 3, 1970, -1)}" th:value="${i}" th:text="${i}"></option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="custom-select" id="publicationMonth" name="publicationMonth">
                                        <option th:selected="${bookDto.publicationMonth == null} ? 'true' : 'false'" value="0">N/A</option>
                                        <option th:selected="${bookDto.publicationMonth == i} ? 'true' : 'false'" th:each="i : ${#numbers.sequence(1, 12)}" th:value="${i}" th:text="${i}"></option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="custom-select" id="publicationDay" name="publicationDay" th:attr="data-originalvalue=${bookDto.publicationDay}">
                                        <option th:selected="${bookDto.publicationDay == null} ? 'true' : 'false'" value="0">N/A</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" id="bindingRow">
                                <label class="col-sm-2 col-form-label">Binding</label>
                                <div class="col-sm-8">
                                    <div class="form-check form-check-inline">
                                        <input id="binding_1" class="form-check-input" type="radio" name="binding" value="1" th:checked="${bookDto.binding == 1} ? 'true' : 'false'">
                                        <!-- XXX 改成英语 -->
                                        <label class="form-check-label" for="binding_1">平装</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input id="binding_2" class="form-check-input" type="radio" name="binding" value="2" th:checked="${bookDto.binding == 2} ? 'true' : 'false'">
                                        <label class="form-check-label" for="binding_2">精装</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="page" class="col-sm-2 col-form-label">Page</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="page" name="page" th:value="${bookDto.page}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="contentIntro" class="col-sm-2 col-form-label">Content</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" id="contentIntro" rows="10" name="contentIntro" th:text="${bookDto.contentIntro}"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="authorIntro" class="col-sm-2 col-form-label">Author</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" id="authorIntro" rows="10" name="authorIntro" th:text="${bookDto.authorIntro}"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="directory" class="col-sm-2 col-form-label">Directory</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" id="directory" rows="10" name="directory" th:text="${bookDto.directory}"></textarea>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <div class="col-sm-4" id="buttonDiv">
                                    <button type="submit" class="btn btn-outline-primary" id="submitButton">Submit</button>
                                    <button type="button" class="btn btn-outline-secondary" id="cancelButton">Cancel</button>
                                </div>
                            </div>
                            <input type="hidden" name="id" th:value="${bookDto.id}">
                            <input type="hidden" name="_method" value="put">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div id="information">
                    <div>Thank you for helping Greenbean project.</div>
                    <br>
                    <div><a th:href="@{/book/{id}(id=${bookDto.id})}">&gt;Go to the detail page of <span th:text="${bookDto.name}"></span></a></div>
                    <div><a th:href="@{/book/{id}/updatePicture(id=${bookDto.id})}">&gt;Update picture</a></div>
                </div>
            </div>
        </div>
    </div>

    <script th:replace="fragments :: jQueryJS"></script>
    <script th:replace="fragments :: popperJS"></script>
    <script th:replace="fragments :: bootstrapJS"></script>
    <script th:replace="fragments :: headerJS"></script>
    <script th:replace="fragments :: jQueryUIJS"></script>
    <script th:replace="fragments :: bookFormJS"></script>
    <script th:src="@{/static/template/editBook.js}"></script>
</body>
</html>