<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:replace="fragments :: bootstrapCSS">
    <link th:replace="fragments :: fontAwesomeCSS">
    <link th:replace="fragments :: headerCSS">
    <link rel="stylesheet" href="home.css" th:href="@{/static/template/home.css}">
</head>
<body>
    <header th:include="fragments :: header"></header>

    <div class="container" id="userInfoDiv">
        <div class="row">
            <div class="col-sm-1">
                <img id="avatar" th:if="${session.userAvatar != null}" th:src="@{/static/picture/avatars/{userAvatar}(userAvatar=${session.userAvatar})}">
            </div>
            <div class="col-sm-8">
                <h3 th:text="${session.userNickname}"></h3>
            </div>
        </div>
    </div>

    <div class="container" id="bookDiv">
        <h5>Books......( <span th:text="${readingCount}"></span> reading . <span th:text="${readCount}"></span> read )</h5>
        <div class="row bookRow">
            <div class="col-sm-1 bookHead">
                reading
            </div>
            <!-- XXX 在读与已读抽取公共的fragment -->
            <div class="col-sm bookPlace" th:each="i : ${#numbers.sequence(0, 4)}">
                <!-- XXX IDEA语法错误的错误提示 -->
                <!-- FIXME 图片拖拽尺寸变化 -->
                <!-- TODO 可以点击进入详情页 鼠标悬停有名称显示 -->
                <img th:if="${readingCount gt i and readingPictures[i] != null}" th:src="@{/static/picture/books/{readingPicture}(readingPicture=${readingPictures[i]})}">
                <img th:if="${readingCount gt i and readingPictures[i] == null}" th:src="@{/static/pic/bookDefault.gif}">
            </div>
        </div>
        <div class="row bookRow">
            <div class="col-sm-1 bookHead">
                read
            </div>
            <div class="col-sm bookPlace" th:each="i : ${#numbers.sequence(0, 4)}">
                <img th:if="${readCount gt i and readPictures[i] != null}" th:src="@{/static/picture/books/{readPicture}(readPicture=${readPictures[i]})}">
                <img th:if="${readCount gt i and readPictures[i] == null}" th:src="@{/static/pic/bookDefault.gif}">
            </div>
        </div>
    </div>

    <script th:replace="fragments :: jQueryJS"></script>
    <script th:replace="fragments :: popperJS"></script>
    <script th:replace="fragments :: bootstrapJS"></script>
    <script th:replace="fragments :: headerJS"></script>
    <script src="home.js" th:src="@{/static/template/home.js}"></script>
</body>
</html>