<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Setting</title>
    <link th:replace="fragments :: bootstrapCSS">
    <link th:replace="fragments :: fontAwesomeCSS">
    <link th:replace="fragments :: headerCSS">
    <link th:replace="fragments :: starCSS">
    <link rel="stylesheet" th:href="@{/static/template/search.css}">
</head>
<body>
    <header th:include="fragments :: header"></header>
    <div class="container" id="wrapper">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 id="searchTitle">search <span th:text="${param.searchKeyWord}"></span></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row bookRow" th:each="bookItem : ${bookItems}">
                            <div class="col-sm-2">
                                <a th:href="@{/book/{id}(id=${bookItem.id})}">
                                    <!-- XXX IDEA语法错误的错误提示 -->
                                    <img th:if="${bookItem.picture != null}" th:src="@{/static/picture/books/{bookItemPicture}(bookItemPicture=${bookItem.picture})}" class="bookPicture">
                                    <img th:if="${bookItem.picture == null}" th:src="@{/static/pic/bookDefault.gif}" class="bookPicture">
                                </a>
                            </div>
                            <div class="col-sm-10">
                                <div class="row nameRow">
                                    <a th:href="@{/book/{id}(id=${bookItem.id})}"><span th:text="${bookItem.bookName}"></span></a>
                                </div>
                                <div class="row ratingRow">
                                    <span class="star" th:classappend="'star' + ${bookItem.starClassName}"></span>
                                    <span class="rating" th:if="${bookItem.rating != null}" th:text="${bookItem.rating}"></span>
                                    <span th:if="${#conversions.convert(bookItem.ratingCount, 'java.lang.Integer') > 0}">
                                        (<span th:text="${bookItem.ratingCount}"></span>&nbsp ratings)
                                    </span>
                                    <span th:if="${#conversions.convert(bookItem.ratingCount, 'java.lang.Integer') == 0}">
                                        (No ratings temporarily)
                                    </span>
                                </div>
                                <div class="row infoRow">
                                    <!-- TODO 信息过长使用省略号，不换行 -->
                                    <span id="firstInfo" th:text="${bookItem.authorName}"></span> /
                                    <span th:if="${bookItem.translatorName}" th:text="${bookItem.translatorName}"></span>
                                    <span th:if="${bookItem.translatorName}">/</span>
                                    <span th:text="${bookItem.publisher}"></span> /
                                    <span th:text="${bookItem.publicationDate}"></span> /
                                    <span th:text="${bookItem.price}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <nav aria-label="Page navigation" th:if="${pagination.totalPagesCount} &gt; 0">
                            <ul class="pagination justify-content-center">
                                <li class="page-item" th:classappend="${pagination.number == 1} ? 'disabled'">
                                    <a class="page-link" th:href="@{/search(searchKeyWord=${param.searchKeyword},start=${(pagination.number - 2) * pagination.singleSize})}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <!-- TODO 很多页数的情况处理 -->
                                <li class="page-item" th:classappend="${i == pagination.number} ? 'active'" th:each="i : ${#numbers.sequence(1, pagination.totalPagesCount)}">
                                    <a class="page-link" th:href="@{/search(searchKeyWord=${param.searchKeyword},start=${(i - 1) * pagination.singleSize})}" th:text="${i}">1</a>
                                </li>
                                <li class="page-item" th:classappend="${pagination.number == pagination.totalPagesCount} ? 'disabled'">
                                    <a class="page-link" th:href="@{/search(searchKeyWord=${param.searchKeyword},start=${(pagination.number) * pagination.singleSize})}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div th:if="${pagination.totalPagesCount} &lt; 1">
                            <p>Search nothing by keyword &quot;<span th:text="${param.searchKeyWord}"></span>&quot;.</p>
                            <p>Please try a different keyword.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div id="addBookDiv">
                    <div id="addBookQuestion">Can't find the book you want to search?</div>
                    <div id="addBookLink">
                        <a th:href="@{/addBook}">&gt;Add a new book</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:replace="fragments :: jQueryJS"></script>
    <script th:replace="fragments :: popperJS"></script>
    <script th:replace="fragments :: bootstrapJS"></script>
    <script th:replace="fragments :: headerJS"></script>
</body>
</html>