<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../common/bootstrap-4.3.1/css/bootstrap.min.css" th:href="@{/static/common/bootstrap-4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" href="signIn.css" th:href="@{/static/template/signIn.css}">
</head>
<body class="text-align">
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
                    <strong>Greenbean</strong>
                </a>
            </div>
        </div>
    </header>
    <div class="navDiv">
        <nav class="nav nav-tabs greenbean-nav-tabs">
            <a id="signInTab" class="nav-link active greenbean-nav-link" href="javascript:void(0);">Sign in</a>
            <a id="signUpTab" class="nav-link greenbean-nav-link" href="javascript:void(0);">Sign up</a>
        </nav>
    </div>


    <!-- XXX 可以重构，两个form -->
    <form class="form-sign" id="signInForm" th:action="@{/signIn}" method="post">
        <label for="usernameSignIn" class="sr-only">Username</label>
        <input type="text" id="usernameSignIn" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="passwordSignIn" class="sr-only">Password</label>
        <input type="password" id="passwordSignIn" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="remember-me"> Remember me
            </label>
        </div>
        <button id="signInSubmitButton" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
    </form>

    <form class="form-sign formHide" id="signUpForm" th:action="@{/signUp}" method="post" novalidate>
        <div class="formInput">
            <label for="usernameSignUp" class="sr-only">Username</label>
            <input type="text" id="usernameSignUp" name="username" class="form-control" placeholder="Username" autofocus>
        </div>
        <div class="formInput">
            <label for="passwordSignUp" class="sr-only">Password</label>
            <input type="password" id="passwordSignUp" name="password" class="form-control" placeholder="Password">
        </div>
        <div class="formInput">
            <label for="passwordCofirmSignUp" class="sr-only">Cofirm password</label>
            <input type="password" id="passwordCofirmSignUp" name="confirmPassword" class="form-control" placeholder="Password again">
        </div>
        <button id="signUpSubmitButton" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
    </form>

    <script src="../common/jQuery-3.4.1/jquery-3.4.1.min.js" th:src="@{/static/common/jQuery-3.4.1/jquery-3.4.1.min.js}"></script>
    <script src="../common/popper-1.15.0/popper.min.js" th:src="@{/static/common/popper-1.15.0/popper.min.js}"></script>
    <script src="../common/bootstrap-4.3.1/js/bootstrap.min.js" th:src="@{/static/common/bootstrap-4.3.1/js/bootstrap.min.js}"></script>
    <script src="../common/jquery-validation-1.19.1/jquery.validate.min.js" th:src="@{/static/common/jquery-validation-1.19.1/jquery.validate.min.js}"></script>
    <script src="../common/jquery-validation-1.19.1/additional-methods.min.js" th:src="@{/static/common/jquery-validation-1.19.1/additional-methods.min.js}"></script>
    <script src="signIn.js" th:src="@{/static/template/signIn.js}"></script>
</body>
</html>